<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布房源</title>
    <link rel="stylesheet" href="media/layui/css/layui.css" media="all">
    <script type="application/javascript" src="media/js/jquery.min.js"></script>
</head>
<body>
<div>
    <h1 align="center" >房源基本信息</h1>


    <div class="layui-form" >
    <div class="layui-row layui-col-space10">

            <label class="layui-form-label">位置</label>
            <div class="layui-col-md2">

                <select onchange="changepro(this)" name="province" id="p1"
                        lay-filter="pro" lay-verify="required">
                    <option value="-1">--请选择省--</option>

                </select>
            </div>
        <div class="layui-col-md2">
                <!--县区  -->
            <select onchange="changecity(this)" name="city" id="c1"
                    lay-filter="cit" lay-verify="required">
                <option value="-1">--请选择市--</option>

            </select></div>
            <div class="layui-col-md2">
                <!--县区  -->
                <select id="cy1" name="county" lay-verify="required">
                    <option value="-1">--请选择县/区--</option>

                </select></div>
           <div class="layui-col-md2">
               <input type="text" name="detail" id="detail"  placeholder="请输入街道" lay-verify="required" autocomplete="off" class="layui-input">

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">小区名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" id="name" placeholder="请输入小区名字" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-row layui-col-space10">
            <label class="layui-form-label">房屋类型</label>
            <div class="layui-col-md2">
                <input type="text" name="room" id="room"  placeholder="室" lay-verify="required" autocomplete="off" class="layui-input">

            </div>
            <div class="layui-col-md2">
                <input type="text" name="hall" id="hall"  placeholder="厅" lay-verify="required" autocomplete="off" class="layui-input">

            </div>
            <div class="layui-col-md2">
                <input type="text" name="toilet" id="toilet" placeholder="卫" lay-verify="required" autocomplete="off" class="layui-input">

            </div>
            <div class="layui-col-md2">
                <input type="text" name="size" id="size" placeholder="m^2" lay-verify="required" autocomplete="off" class="layui-input">

            </div>

        </div>


        <div class="layui-row layui-col-space10">
            <label class="layui-form-label">朝向</label>
            <div class="layui-col-md2" >
                <select id="direction"  name="direction" lay-verify="required" >
                    <option>--请选择朝向--</option>
                    <option>南</option>
                    <option>东</option>
                </select>
            </div>

            <div class="layui-col-md2">

                <select id="housetype"  name="housetype" lay-verify="required" >
                    <option>--请选择装修情况--</option>
                    <option value="1">简装</option>
                    <option value="2">精装</option>
                </select>
            </div>
        </div>


    <div class="layui-row layui-col-space10">
            <label class="layui-form-label">楼层</label>
            <div class="layui-col-md2">
                <input type="text" name="floor" id="floor" placeholder="第几层" lay-verify="required" autocomplete="off" class="layui-input">

            </div>

            <div class="layui-col-md2">

                <select id="lift"  name="lift"  lay-verify="required">
                    <option value="-1">--有/无电梯--</option>
                    <option value="1">有电梯</option>
                    <option value="2">无电梯</option>
                </select>
            </div>

        <div class="layui-row layui-col-space10">
            <label class="layui-form-label">房屋编号 </label>
            <div class="layui-col-md2">
                <input type="number" name="no"  id="no" placeholder="编号" lay-verify="required" autocomplete="off" class="layui-input">

            </div>


        </div>
        <div class="layui-row layui-col-space10">
            <label class="layui-form-label">邮编 </label>
            <div class="layui-col-md2">
                <input type="number" name="postcode" id="postcode" placeholder="编号" lay-verify="required" autocomplete="off" class="layui-input">

            </div>


        </div>
            <div class="layui-row layui-col-space10" >
                <label class="layui-form-label">车位</label>
                <div class="layui-col-md2" >
                <select id="cartport"  name="cartport"  lay-verify="required">
                    <option value="-1">--有/无--</option>
                    <option value="1">有车位</option>
                    <option value="2">无车位</option>
                </select></div>
            </div>

            <div class="layui-row layui-col-space10" >
                <label class="layui-form-label">租金</label>
                <div class="layui-col-md2">
                    <input type="text" name="money" id="money"  placeholder="/月" lay-verify="required" autocomplete="off" class="layui-input">

                </div>
                <label class="layui-form-label">付款方式</label>
                <div class="layui-col-md2" >

                    <select id="moneytype"  name="moneytype" lay-verify="required">

                        <option value="2">押一付三</option>
                        <option value="1">押一付一</option>
                        <option value="3">押一付六</option>
                        <option value="4">年付</option>
                    </select></div>
            </div>

        <div class="layui-row layui-col-space10">
            <label class="layui-form-label">联系人 </label>
            <div class="layui-col-md2">
                <input type="text" name="name"  id="person" placeholder="姓名" lay-verify="required" autocomplete="off" class="layui-input">

            </div>
            <label class="layui-form-label">联系方式 </label>
            <div class="layui-col-md2">
                <input type="text" name="phone"  id="phone" placeholder="电话" lay-verify="required" autocomplete="off" class="layui-input">

            </div>
            <label class="layui-form-label">QQ </label>
            <div class="layui-col-md2">
                <input type="text" name="qq"  id="qq" placeholder="qq/微信" lay-verify="required" autocomplete="off" class="layui-input">

            </div>
            <label class="layui-form-label">关系 </label>
            <div class="layui-col-md2">
                <input type="text" name="ref"  id="ref" placeholder="房东/中介" lay-verify="required" autocomplete="off" class="layui-input">

            </div>

        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">房源描述</label>
            <div class="layui-input-block">
                <textarea name="info" id="info" placeholder="请输入内容" lay-verify="required" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">照片</label>
            <button type="button" class="layui-btn" id="upfile">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
            <input type="hidden" name="picture" id="p2">
            <div class="layui-input-block">
                <img alt="预览"  id="img1" width="200px" height="300px">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn"   lay-submit lay-filter="formDemo" id="bt1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </div>

    <script src="media/layui/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        var form;
        layui
            .use(
                [ 'form','upload', 'layedit', 'laydate' ],
                function() {
                    form = layui.form, layer = layui.layer, layedit = layui.layedit, laydate = layui.laydate;
                    var upload = layui.upload;

                    //执行实例
                    var uploadInst = upload.render({
                        elem: '#upfile' //绑定元素
                        ,url: 'pictureupload.do' //上传接口
                        ,done: function(obj){
                            //上传完毕回调
                            console.log(obj);
                            if(obj.code==1000){

                                $("#p2").val(obj.msg);
                                $("#img1")[0].src="/tickresource/"+obj.msg;
                                $("#btn1").attr("disabled",false);
                            }else{
                                $("#img1")[0].src="media/images/cw1.jpg";
                            }

                        }
                        ,error: function(){
                            //请求异常回调
                        }
                    });
                    //日期
                    laydate.render({
                        elem : '#date'
                    });


                    //自定义验证规则
                    form.verify({
                        title : function(value) {
                            if (value.length < 5) {
                                return '标题至少得5个字符啊';
                            }
                        },
                        pass : [ /(.+){6,12}$/, '密码必须6到12位' ],
                        content : function(value) {
                            layedit.sync(editIndex);
                        }
                    });



                    //页面加载就请求省份数据
                    $.get("provincequery.do", null, function(arr) {


                        for (var i = 0; i < arr.length; i++) {
                            $("#p1")
                                .append(
                                    "<option value='"+arr[i].no+"'>"
                                    + arr[i].name
                                    + "</option>");
                            form.render('select');
                        }
                    });

                    form.on('select(pro)', function(obj){   //得到 选中的省份的  no 值------

                       //得到被选中的值
                        //省份变化-直接清空县区
                        $("#cy1").html("<option value='-1'>--请选择县/区--</option>");
                        //为市下拉框设置内容
                        if(obj.value=="-1"){
                            $("#c1").html("<option value='-1'>--请选择市--</option>");
                        }else{
                            //页面加载就请求市份数据
                            $.get("cityquery.do","no="+obj.value,function(arr){

                                $("#c1").html("<option value='-1'>--请选择市--</option>");
                                for(var i=0;i<arr.length;i++){
                                    $("#c1").append("<option value='"+arr[i].no+"'>"+arr[i].name+"</option>");
                                    form.render('select');
                                }
                            });
                        }

                    });

                    form.on('select(cit)', function(obj) {


                        //为市下拉框设置内容
                        if(obj.value=="-1"){
                            $("#cy1").html("<option value='-1'>--请选择县/区--</option>");
                        }else{

                            //页面加载就请求县份数据
                            $.get("countyquery.do","no="+obj.value,function(arr){

                                $("#cy1").html("<option value='-1'>--请选择县/区--</option>");
                                for(var i=0;i<arr.length;i++){
                                    $("#cy1").append("<option value='"+arr[i].no+"'>"+arr[i].name+"</option>");

                                    form.render('select');
                                }
                            })
                        }
                    });
                });




        $("#bt1").click(function () {
           // console.log(arr.value);
            $.get("houseadd3.do","detail="+$("#detail").val()+"&postcode="+$("#postcode").val()+"&hno="+$("#no").val()+"&province="+$("#p1").val()+"&city="+$("#c1").val()+"&county="+$("#cy1").val(),function (data) {
                if(data.code==1000){
                    console.log(data.code);
                }else{
                    alert("");
                }
            })

        })
        $("#bt1").click(function () {
            $.get("houseadd4.do","name="+$("#name").val()+"&ref="+$("#ref").val()+"&no="+$("#no").val(),function (data) {
                if(data.code==1000){
                    console.log(data.code);
                }else{
                    alert("");
                }
            })

        })
        $("#bt1").click(function () {
            $.get("houseadd5.do","size="+$("#size").val()+"&hno="+$("#no").val(),function (data) {
                if(data.code==1000){
                    console.log(data.code);
                }else{
                    alert("");
                }
            })

        })
        $("#bt1").click(function () {
            $.get("houseadd6.do","room="+$("#room").val()+"&hall="+$("#hall").val()+"&toilet="+$("#toilet").val()+"&floor="+$("#floor").val()+"&direction="+$("#direction").val()+"&hno="+$("#no").val(),function (data) {
                if(data.code==1000){
                    console.log(data.code);
                }else{
                    alert("");
                }
            })

        })
        $("#bt1").click(function () {
            $.get("houseadd7.do","money="+$("#money").val()+"&moneytype="+$("#moneytype").val()+"&hno="+$("#no").val(),function (data) {
                if(data.code==1000){
                    console.log(data.code);
                }else{
                    alert("");
                }
            })

        })
        $("#bt1").click(function () {
            $.get("houseadd9.do","info="+$("#info").val()+"&housetype="+$("#housetype").val()+"&lift="+$("#lift").val()+"&hno="+$("#no").val()+"&name="+$("#name").val()+"&housetype="+$("#housetype").val()+"&lift="+$("#lift").val()+"&cartport="+$("#cartport").val(),function (data) {
                if(data.code==1000){
                    console.log(data.code);
                }else{
                    alert("添加失败");
                }
            })

        })
        $("#bt1").click(function () {
            $.get("houseadd10.do","picture="+$("#p2").val(),function (data) {
                if(data.code==1000){
                    a();
                }else{
                    alert("添加失败");
                }
            })

        })
        $("#bt1").click(function (){
            $.get("houseadd8.do","name="+$("#person").val()+"&phone="+$("#phone").val()+"&qq="+$("#qq").val(),function (data) {
                if(data.code==1000){
                    //console.log(data);
                   // console.log(data.code);
                    alert("添加成功");
                   location.href="houselist.html";
                }else{
                    alert("添加失败");
                }
            })

        })
    </script>
</div>
</div>
</body>
</html>


